venv
python-db-connection
.coverage
.pytest_cache
.env
.auto.tfvars
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
**/.terraform
**/.terraform.lock.hcl
seed_test.txt
tests/load_tests/helen_test_parquet.py
